* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url(/media/background.png);
    background-repeat: no-repeat;
    /* background-color: #5d77d3; */
    background-size: 100vw 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header_logo {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.header_logo .logo_icon {
    object-fit: contain;
    width: 54px;
    height: 60px;
}


.logoText {
    font-family: 'COCOMAT';
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    padding-top: 62px;
}


.main {
    max-width: 1200px;
    width: 100%;
    border: 3px solid rgba(255, 255, 255, 50%);
    background-color: rgba(212, 212, 212, 10%);
    height: max-content;
    padding: 55px 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    position: relative;
}

.title {
    font-family: 'COCOMAT';
    font-size: 48px;
    color: #ffffff;
    text-align: center;
}

#root {
    background-color: #AFCDDE;
    min-height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.form {
    width: 350px;
    /* max-width: 350px;
    background-color: rgba(212, 212, 212, 10%); */
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    /* margin-top: 50px; */
    border-radius: 25px;
    text-align: center;
}

.pass {
    position: relative;
}


.input {
    background-color: #323955;
    border: 0;
    font-size: 20px;
    width: 100%;
    color: #749EF0;
    outline: none;
    border-radius: 10px;
    padding: 20px;
}

.input:focus-visible {
    outline: 1.5px solid #749EF0;
}

.input::placeholder {
    font-family: "Comfortaa";
    font-size: 20px;
    color: #749EF0;
}

.error_msg {
    position: absolute;
    max-width: 300px;
    right: -310px;
    top: 0;
    font-size: 14px;
    text-align: left;
    color: rgb(220 38 38);
    font-family: "Comfortaa";
}

.msg {
    visibility: hidden;
    font-size: 20px;
    color: red;
    transition: .4s ease;
}

.msg.active {
    visibility: visible;
    transition: .4s ease;
}

.input.active {
    border-bottom: 1px solid red;
}

.button {
    font-family: "Comfortaa";
    background-color: #5A77DF;
    font-size: 20px;
    padding: 19px 20px 19px 20px;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .4s ease;
}

.button:hover {
    background-color: #5459E7;
    transition: .4s ease;
}

.back_btn:has(> .link) {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 25px;
    right: 100px;
}

.link {
    font-family: 'COCOMAT';
    color: #ffffff;
    font-size: 36px;
}

.back_btn:has(> .link)::after {
    content: "";
    display: block;
    width: 30px;
    height: 20px;
    background-image: url('data:image/svg+xml,<svg width="34" height="24" viewBox="0 0 34 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 12H32M32 12L22 22M32 12L22 2" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 17px;
}


.filter_container {
    display: flex;
    padding: 20px 30px;
    background-color: #fff;
    border: 1px solid #3D5A76;
    max-height: 240px;
}

.filter_container label {
    cursor: pointer;
}

.checkbox_filter {
    margin-left: 25px;
}

.checkbox_box,
.radio_box {
    cursor: pointer;
    margin-right: 15px;
}

.text_input {
    position: relative;
}

.text_input .input.error {
    border-bottom: 1.5px solid var(--red);
}

.text_input.name .input {
    padding-left: 62px;
}

.text_input.email .input {
    padding-left: 62px;
}

.text_input.password .input {
    padding-left: 58px;
    padding-right: 62px;
}

.text_input::before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.text_input.email::before {
    width: 32px;
    height: 24px;
    top: 30%;
    background-image: url('data:image/svg+xml,<svg width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.9 3.368L17.274 13.824C16.9152 14.1213 16.4639 14.2839 15.998 14.2839C15.5321 14.2839 15.0808 14.1213 14.722 13.824L2.102 3.368C2.03425 3.57182 1.99981 3.78522 2 4V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H28C28.5304 22 29.0391 21.7893 29.4142 21.4142C29.7893 21.0391 30 20.5304 30 20V4C30.0008 3.78533 29.9671 3.57193 29.9 3.368ZM4 0H28C29.0609 0 30.0783 0.421427 30.8284 1.17157C31.5786 1.92172 32 2.93913 32 4V20C32 21.0609 31.5786 22.0783 30.8284 22.8284C30.0783 23.5786 29.0609 24 28 24H4C2.93913 24 1.92172 23.5786 1.17157 22.8284C0.421427 22.0783 0 21.0609 0 20V4C0 2.93913 0.421427 1.92172 1.17157 1.17157C1.92172 0.421427 2.93913 0 4 0ZM3.58 2L14.732 11.206C15.0892 11.501 15.5377 11.6629 16.0009 11.664C16.4642 11.6651 16.9134 11.5053 17.272 11.212L28.536 2H3.58Z" fill="%23749EF0"/></svg>');
}

.text_input.password::before {
    width: 29px;
    height: 32px;
    top: 23.3%;
    background-image: url('data:image/svg+xml,<svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.0741 10.6667H9.48148V7.11111C9.48148 5.85379 9.98095 4.64796 10.87 3.7589C11.7591 2.86984 12.9649 2.37037 14.2222 2.37037C16.4993 2.37037 18.5481 4 18.9867 6.16148C19.0518 6.46691 19.2348 6.73431 19.496 6.90554C19.7571 7.07678 20.0753 7.13801 20.3814 7.07594C20.6874 7.01387 20.9566 6.83351 21.1305 6.57406C21.3043 6.3146 21.3687 5.99703 21.3096 5.69037C20.64 2.39259 17.6593 0 14.2222 0C12.3368 0.00196088 10.5292 0.751795 9.19607 2.08496C7.86291 3.41813 7.11307 5.22573 7.11111 7.11111V10.6667H2.37037C1.74171 10.6667 1.1388 10.9164 0.694265 11.3609C0.249735 11.8055 0 12.4084 0 13.037V29.6296C0 30.2583 0.249735 30.8612 0.694265 31.3057C1.1388 31.7503 1.74171 32 2.37037 32H26.0741C26.7027 32 27.3056 31.7503 27.7502 31.3057C28.1947 30.8612 28.4444 30.2583 28.4444 29.6296V13.037C28.4444 12.4084 28.1947 11.8055 27.7502 11.3609C27.3056 10.9164 26.7027 10.6667 26.0741 10.6667ZM26.0741 29.6296H2.37037V13.037H26.0741V29.6296ZM14.2222 15.4074C13.2261 15.4077 12.2633 15.7665 11.5099 16.4182C10.7565 17.0699 10.2628 17.9709 10.1189 18.9567C9.97511 19.9424 10.1908 20.9469 10.7266 21.7867C11.2624 22.6265 12.0825 23.2454 13.037 23.5304V26.0741C13.037 26.3884 13.1619 26.6899 13.3842 26.9121C13.6064 27.1344 13.9079 27.2593 14.2222 27.2593C14.5366 27.2593 14.838 27.1344 15.0603 26.9121C15.2825 26.6899 15.4074 26.3884 15.4074 26.0741V23.5304C16.3619 23.2454 17.182 22.6265 17.7178 21.7867C18.2536 20.9469 18.4693 19.9424 18.3255 18.9567C18.1817 17.9709 17.688 17.0699 16.9345 16.4182C16.1811 15.7665 15.2184 15.4077 14.2222 15.4074ZM14.2222 21.3333C13.8706 21.3333 13.5269 21.2291 13.2345 21.0337C12.9422 20.8384 12.7143 20.5607 12.5798 20.2359C12.4452 19.911 12.41 19.5536 12.4786 19.2087C12.5472 18.8639 12.7165 18.5471 12.9651 18.2985C13.2138 18.0499 13.5305 17.8805 13.8754 17.8119C14.2203 17.7433 14.5777 17.7785 14.9025 17.9131C15.2274 18.0477 15.505 18.2755 15.7004 18.5679C15.8957 18.8602 16 19.2039 16 19.5556C16 20.0271 15.8127 20.4792 15.4793 20.8126C15.1459 21.146 14.6937 21.3333 14.2222 21.3333Z" fill="%23749EF0"/></svg>');
}

.text_input.name::before {
    width: 32px;
    height: 32px;
    top: 23.3%;
    background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 16C0 24.8366 7.16344 32 16 32C24.7529 32 32 24.8471 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16ZM1.88235 16C1.88235 8.18824 8.18824 1.88235 16 1.88235C23.7176 1.88235 30.1176 8.18824 30.1176 16C30.1176 19.6875 28.7125 23.0394 26.4072 25.5509L25.069 26.8299C22.618 28.8831 19.4564 30.1176 16 30.1176C12.696 30.1176 9.66141 28.9896 7.25936 27.0967L5.85924 25.8333C3.39618 23.2935 1.88235 19.8275 1.88235 16Z" fill="%23749EF0"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 16C0 24.8471 7.15294 32 16 32C24.8366 32 32 24.8366 32 16C32 7.15294 24.8471 0 16 0C7.15294 0 0 7.15294 0 16ZM16 0C24.8366 0 32 7.16344 32 16C32 24.8471 24.7529 32 16 32C7.16344 32 0 24.8366 0 16C0 7.16344 7.16344 0 16 0Z" fill="%23749EF0"/><path d="M12.2353 20.2353V21.6471C12.2353 22.6114 10.5203 23.4125 8.99216 24.1263L8.99117 24.1267C8.87913 24.1791 8.7681 24.2309 8.65882 24.2824L8.46572 24.3731L8.42121 24.3939C7.43924 24.8545 6.51112 25.2898 5.85924 25.8333C6.29701 26.2848 6.76478 26.707 7.25936 27.0967C7.80681 26.7232 8.69861 26.3299 9.41176 26.0706C11.6706 25.1294 14.1176 24 14.1176 21.7412V19.2941L13.6471 19.0118C13.6471 18.9925 13.5955 18.9454 13.5136 18.8706C13.1964 18.5809 12.4235 17.875 12.4235 16.7529V16.2824L12.0471 16C11.7647 15.8118 11.2 15.2471 11.2 14.7765C11.2 14.4 11.3882 14.1176 11.4824 14.1176L11.8588 13.6471L11.7647 13.1765C11.7647 13.1765 11.2941 11.1059 11.2941 9.88235C11.2941 7.24706 13.0824 5.64706 16 5.64706C17.1294 5.64706 17.7882 6.02353 17.7882 6.4L18.0706 6.87059H18.6353C19.4824 6.87059 20.5176 8.18824 20.5176 9.97647C20.5176 11.8588 20.0471 13.3647 20.0471 13.3647L19.8588 13.8353L20.2353 14.2118C20.3294 14.3059 20.5176 14.5882 20.5176 14.7765C20.5176 15.5294 20.0471 15.8118 19.9529 15.8118L19.3882 16.0941V16.7529C19.3882 18.2588 18.2588 19.0118 18.2588 19.0118L17.7882 19.2941V21.7412C17.7882 23.8974 20.1228 24.7463 22.1874 25.497L22.2118 25.5059C23.3174 25.8744 24.4808 26.3007 25.069 26.8299C25.5426 26.4332 25.9897 26.0058 26.4072 25.5509C25.5139 24.7228 24.1675 24.1955 22.8706 23.7176C21.3647 23.1529 19.6706 22.4941 19.6706 21.6471V20.1412C20.2353 19.6706 21.0824 18.7294 21.2706 17.2235C21.8353 16.8471 22.4941 16 22.4941 14.7765C22.4941 14.2118 22.3059 13.7412 22.1176 13.4588C22.3059 12.8 22.5882 11.4824 22.5882 9.88235C22.5882 7.34118 21.0824 5.27059 19.2941 4.89412C18.5412 4.04706 17.1294 3.76471 16 3.76471C11.9529 3.76471 9.41176 6.21176 9.41176 9.88235C9.41176 11.0118 9.6 12.4235 9.78823 13.1765C9.6 13.5529 9.31765 14.1176 9.31765 14.7765C9.31765 15.9059 10.0706 16.7529 10.5412 17.2235C10.7294 18.7294 11.6706 19.7647 12.2353 20.2353Z" fill="%23749EF0"/></svg>');
}

.eye_form {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    right: 20px;
    width: 32px;
    height: 21px;
    cursor: pointer;
    background: url('data:image/svg+xml,<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.8694 10.2087C31.8216 10.1042 30.6915 7.59491 28.1951 5.09854C24.855 1.76359 20.6454 0 16.001 0C11.3565 0 7.1469 1.76359 3.81066 5.09854C1.31429 7.59491 0.184146 10.1042 0.132542 10.2087C0.0451405 10.4068 0 10.621 0 10.8376C0 11.0542 0.0451405 11.2684 0.132542 11.4665C0.180276 11.5723 1.31042 14.0803 3.80808 16.5767C7.1469 19.9116 11.3565 21.6739 16.001 21.6739C20.6454 21.6739 24.855 19.9116 28.19 16.5767C30.6876 14.0803 31.8178 11.5723 31.8655 11.4665C31.9535 11.2687 31.9993 11.0546 32 10.838C32.0007 10.6214 31.9562 10.4071 31.8694 10.2087ZM25.9271 14.4661C23.1572 17.1934 19.8184 18.5777 16.001 18.5777C12.1835 18.5777 8.84469 17.1934 6.07868 14.4648C4.99027 13.3878 4.05403 12.1673 3.29591 10.837C4.05425 9.5072 4.99048 8.28711 6.07868 7.21046C8.84598 4.48057 12.1835 3.09628 16.001 3.09628C19.8184 3.09628 23.1559 4.48057 25.9232 7.21046C27.0116 8.28701 27.9478 9.50712 28.706 10.837C27.9478 12.1672 27.0115 13.3877 25.9232 14.4648L25.9271 14.4661ZM16.001 5.16046C14.8783 5.16046 13.7808 5.49338 12.8473 6.11713C11.9138 6.74087 11.1862 7.62742 10.7566 8.66466C10.3269 9.70191 10.2145 10.8433 10.4335 11.9444C10.6526 13.0455 11.1932 14.057 11.9871 14.8509C12.7809 15.6447 13.7924 16.1854 14.8935 16.4044C15.9947 16.6234 17.136 16.511 18.1733 16.0814C19.2105 15.6517 20.0971 14.9242 20.7208 13.9907C21.3445 13.0572 21.6775 11.9597 21.6775 10.837C21.6758 9.33199 21.0772 7.88914 20.013 6.82496C18.9488 5.76078 17.5059 5.16217 16.001 5.16046ZM16.001 13.4172C15.4906 13.4172 14.9918 13.2659 14.5675 12.9824C14.1431 12.6988 13.8124 12.2959 13.6171 11.8244C13.4218 11.3529 13.3708 10.8341 13.4703 10.3336C13.5699 9.83308 13.8156 9.37332 14.1765 9.01247C14.5373 8.65162 14.9971 8.40588 15.4976 8.30632C15.9981 8.20676 16.5169 8.25786 16.9884 8.45315C17.4599 8.64844 17.8628 8.97915 18.1463 9.40347C18.4299 9.82779 18.5812 10.3266 18.5812 10.837C18.5812 11.5213 18.3093 12.1776 17.8255 12.6615C17.3416 13.1454 16.6853 13.4172 16.001 13.4172Z" fill="%235A77DF" /></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    transition: background .4s ease;
}

.eye_form.close {
    background: url('data:image/svg+xml,<svg width="32" height="17" viewBox="0 0 32 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.7624 10.359C31.8791 10.5617 31.9548 10.7854 31.985 11.0173C32.0153 11.2492 31.9996 11.4848 31.9388 11.7106C31.878 11.9365 31.7733 12.1481 31.6307 12.3335C31.4881 12.5189 31.3104 12.6744 31.1078 12.7911C30.9051 12.9078 30.6814 12.9834 30.4495 13.0137C30.2176 13.0439 29.982 13.0282 29.7561 12.9674C29.5303 12.9066 29.3187 12.802 29.1333 12.6594C28.9479 12.5168 28.7924 12.3391 28.6757 12.1364L26.1785 7.767C24.785 8.6436 23.2827 9.33377 21.7098 9.81988L22.4934 14.5062C22.5704 14.9711 22.4597 15.4476 22.1856 15.8309C21.9115 16.2142 21.4963 16.4729 21.0315 16.5502C20.9337 16.5675 20.8345 16.5759 20.7352 16.5754C20.3155 16.575 19.9095 16.426 19.5891 16.1549C19.2686 15.8839 19.0545 15.5081 18.9845 15.0943L18.2217 10.5323C16.7421 10.6962 15.249 10.6962 13.7694 10.5323L13.014 15.0987C12.944 15.5131 12.7294 15.8892 12.4083 16.1603C12.0873 16.4315 11.6805 16.5801 11.2603 16.5799C11.161 16.5803 11.0619 16.5719 10.9641 16.5547C10.7339 16.5159 10.5135 16.4322 10.3157 16.3082C10.1178 16.1843 9.94636 16.0226 9.81101 15.8324C9.67567 15.6422 9.57913 15.4271 9.5269 15.1996C9.47467 14.9721 9.46778 14.7364 9.50663 14.5062L10.2902 9.80803C8.71731 9.32192 7.21497 8.63175 5.82152 7.75515L3.3243 12.1364C3.20759 12.3391 3.05211 12.5168 2.86673 12.6594C2.68135 12.802 2.46969 12.9066 2.24386 12.9674C2.01802 13.0282 1.78242 13.0439 1.55051 13.0137C1.3186 12.9834 1.09492 12.9078 0.892245 12.7911C0.689568 12.6744 0.511863 12.5189 0.369274 12.3335C0.226686 12.1481 0.122008 11.9365 0.0612161 11.7106C0.000424445 11.4848 -0.0152902 11.2492 0.0149697 11.0173C0.0452295 10.7854 0.120871 10.5617 0.237576 10.359L2.96586 5.59711C2.04115 4.76204 1.18386 3.85522 0.401984 2.88512C0.125959 2.51698 0.00346155 2.05613 0.0602559 1.59952C0.11705 1.14291 0.34871 0.726112 0.70651 0.436803C1.06431 0.147493 1.52036 0.00821519 1.97875 0.0482647C2.43713 0.0883143 2.86213 0.304569 3.16433 0.651545C5.5401 3.59311 9.69622 7.10048 16 7.10048C22.3038 7.10048 26.4599 3.59311 28.8357 0.651545C29.133 0.288341 29.5619 0.0574893 30.0288 0.00937023C30.4957 -0.0387488 30.9627 0.0997722 31.3278 0.394702C31.693 0.689633 31.9266 1.11703 31.9778 1.5836C32.029 2.05018 31.8935 2.51806 31.601 2.88512C30.8182 3.85534 29.9599 4.76216 29.0341 5.59711L31.7624 10.359Z" fill="%235A77DF" /></svg>');
    background-repeat: no-repeat;
    top: 25px;
    transition: background .4s ease;
}



@media (max-width: 1440px) {
    .form {
        max-width: unset;
    }

    .input {
        width: 100%;
        max-width: 500px;
    }

    .body {
        width: 100%;
        padding: 0 10%;
    }

    .title {
        font-size: 32px;
    }
}