.body{
    /* background-image: url(../media/fonForm.png);
    background-repeat: no-repeat; */
    background-color: #5A77DF;
    background-size: 100vw 100vh;
    min-height: 100vh;
}
.title{
    font-size: 128px;
    color: #ffffff;
    text-align: center;
}


.form{
    max-width: 1500px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}

.pass{
    height: max-content;
    width: fit-content;    
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.formeye{
    transform: scale(3.5, 3.5);
    position: absolute; 
    top: 60%;
    right: 16px;
    color: #3D5A76;
}
.input{
    background-color: white;
    border: 0;
    font-size: 64px;
    color: black;
    margin-top: 25px;
    outline:none;
    border-bottom: 2px solid black;
}

form > .input:first-child{
    margin-top: 70px;
}
/* .hr{
    height: 4px;
    width: 800px;
    background-color: black;
    margin-left: 357px;
} */
/* .hrb{
    height: 4px;
    width: 639;
    background-color: rgb(255, 255, 255);
    margin-left: 640px;
} */

.b{
    text-align: center;
    margin-top: 29px;
    background: none;
}

.b.entrance{
    margin-top: 139px;
}
.msg {
    visibility: hidden;
    font-size: 20px;
    color: red;
    transition: .4s ease;
}

.msg.active{
    visibility: visible;
    transition: .4s ease;
}
.input.active{
    border-bottom: 1px solid red;
}

.button{
    background-color: #609AB9;
    font-size: 48px;
    padding: 20px 40px 20px 40px;
    color: #ffffff;
    margin-bottom: 70px;
    margin-top: 57px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .4s ease;
}

.button:hover{
    background-color: #4a778f;
    transition: .4s ease;
}

.link{
    color: #ffffff;
    font-size: 64px;
    /* margin-left: 640px; */
    margin: 0 auto;
    margin-top: 65px;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.filter_container{
    display: flex;
    padding: 20px 30px ;
    background-color: #fff;
    border: 1px solid #3D5A76;
    max-height: 240px;
}

.filter_container  label{
    cursor: pointer;
}

.checkbox_filter, 
.radio_filter{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    justify-content: space-between;
    padding: 20px 0;
}

.radio_filter{
    padding-right: 25px;
    border-right: 1px solid #273645;
}

.checkbox_filter{
    margin-left: 25px;
}

.checkbox_box, 
.radio_box{
    cursor: pointer;
    margin-right: 15px;
}

@media (max-width: 1440px) {
    .form{
        max-width: unset;
    }

    .input{
        width: 100%;
        max-width: 500px;
    }
    .body{
        width: 100%;
        padding: 0 10%;
    }

    .title{
        font-size: 78px;
    }
}