@font-face {
    font-family: gilroy;
    src: url(../../fonts/Gilroy-Light.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    text-decoration: none;
    /* background-color: #273645; */
    /* background-image: url(../../media/fonForm.png); */
    
}
@import "form";